body {
  font-family: 'HarmoniaSans',Arial !important;
  margin-bottom: 0;
  color: #6a6c6f;
  margin: 0;
  background-color: #f1f3f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-dft{
  background-color: #f1f3f6;
}